.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 40rem) {
    .photoPost {
        grid-template-columns: 1fr;
    }
}

.file {
    margin-bottom: 1rem;
    display: none;
}

.labelFile {
    display: block;
    align-items: center;
    background: #ffbb11;
    width: 12rem;
    min-width: 8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--type-first);
    border: none;
    border-radius: 0.4rem;
    color: #764701;
    padding: 0.8rem 1.7rem;
    box-sizing: border-box;
    transition: 0.1s;
}

.labelFile:hover,
.labelFile:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffeeaa, 0 0 0 4px #ffbb11;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    height: 0px;
    padding-bottom: 100%;
}